<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>marvelPublicKey</key>
	<string>c14412838327200430f4ad698cbf5ca9</string>
	<key>marvelPrivateKey</key>
	<string>612fd6c596787049ec703fa5ea2a0af78953b92f</string>
</dict>
</plist>
