<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>marvelPublicKey</key>
	<string>Sua chave Publica da API</string>
	<key>marvelPrivateKey</key>
	<string>Sua chave Privada da API</string>
</dict>
</plist>
